<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola mundo vue</title>
</head>

<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <input type="text"v-model="nuevoLibro" @keyup.enter="agregarLibro">
        <button @click="agregarLibro">Agregar</button>
        <ul>
            <li v-for="libro of libros">
                <button @click="libro.cantidad++">+</button>
                <button @click="libro.cantidad--">-</button>
                <input type="number" v-model.number="libro.cantidad">
                {{libro.nombre}}
                <span v-if="libro.cantidad === 0"><strong>Sin Stock</strong></span>
            </li>
        </ul>
        <h4>Total {{sumarLibros}} </h4>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>